.idea
.DS_Store
*/.DS_Store
*.iml
target
log
logs
spark-warehouse/

_Store
*.iml
*.ipr
*.iws
*.orig
*.rej
*.sdf
*.suo
.idea
.svn
.classpath
.project
.settings
.DS_Store
target
build
*.class
*.jar
log
logs
spark-warehouse/

# External tool builders
*/.externalToolBuilders
*/maven-eclipse.xml
*/.DS_Store